<h3>Calendar</h3>
<div class="container">

 <table class="stripped responsive-table">
        <thead>
          <tr>
              <th data-field="match">Day</th>
              <th data-field="match">Match</th>
              <th data-field="date">Date</th>
              <th data-field="stade">Stade</th>
          </tr>
        </thead>

        <tbody> 
          <tr *ngFor="#cal of calendars" class="collection-item avatar">
            <td>{{cal.typematch}}</td>
            <td>{{cal.team1}} - {{cal.team2}}</td>
            <td>{{cal.date}}</td>
            <td>{{cal.stade}}</td>
          </tr>
         
        </tbody>
      </table>

</div>