<div *ngIf="team">
    <div class="row">
        <div class="col s6 m7">
			<div class="test card">
					<div class="card-image waves-effect waves-block waves-light">
		              <img class="activator" src="app/img/cadre.jpg">
					</div>
					 <div class="card-content green darken-2">
						<span class="card-title activator white-text text-darken-4">group: {{team.group}}<i class="material-icons right">more_vert</i></span>
						<div>
						<label >code: </label> <span class="white-text">{{team.code}}</span>
							<label >name: </label><input class="white-text" [(ngModel)]="team.name" placeholder= "name"/>
							<button (click)="goBack()">Back</button>
						</div>
					</div>
					<div class="card-reveal">
				      <span class="card-title green-text text-accent-1"><i>{{team.name}}</i> details!<i class="material-icons right">close</i></span>
				      <p>Here is some more information about this product that is only revealed once clicked on.</p>
		    		</div>	
			</div>
		</div>
	</div>
</div>